<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace에 현재 연결할 인터페이스의 패키지명부터 인터페이스명까지 전체를 작성-->
<mapper namespace="org.zerock.tourist_spring.board.mapper.BoardMapper">
    <select id="selectAll" resultType="org.zerock.tourist_spring.board.vo.BoardVO">
        SELECT * FROM tourist_board ORDER BY num DESC
    </select>
    <select id="selectList" resultType="org.zerock.tourist_spring.board.vo.BoardVO">
        SELECT * FROM tourist_board ORDER BY num DESC LIMIT #{skip}, #{size}
    </select>
    <select id="getCount" resultType="int">
        SELECT COUNT(*) FROM tourist_board
        <include refid="search"></include>
    </select>
    <select id="selectOne" resultType="org.zerock.tourist_spring.board.vo.BoardVO">
        SELECT * FROM tourist_board WHERE num = #{num}
    </select>
    <update id="updateVisitCount">
        UPDATE tourist_board
        SET visitcount = visitcount+1
        WHERE num = #{num}
    </update>
    <delete id="deleteBoard">
        DELETE FROM tourist_board WHERE num=#{num}
    </delete>
    <update id="updateBoard">
        UPDATE tourist_board
        SET title=#{title}, content=#{content}
        WHERE num = #{num}
    </update>
<!-- useGeneratedKeys : insert된 데이터의 primary key를 반환할 수 있음 -->
<!-- keyProperty : 반환할 primary key의 열 이름-->
    <insert id="insertBoard" useGeneratedKeys="true" keyProperty="num">
        INSERT INTO tourist_board(title, content, id)
        VALUES (#{title},#{content},#{id})
    </insert>
    <select id="selectSearch" resultType="org.zerock.tourist_spring.board.vo.BoardVO">
        SELECT * FROM tourist_board
        <include refid="search"></include>
        ORDER BY num DESC
        LIMIT #{skip}, #{size}
    </select>
    <sql id="search">
        <where>
            <if test="keyword != null">
                title LIKE concat('%',#{keyword},'%')
            </if>
        </where>
    </sql>
</mapper>