<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace에 현재 연결할 인터페이스의 패키지명부터 인터페이스명까지 전체를 작성-->
<mapper namespace="org.zerock.tourist_spring.member.mapper.MemberMapper">
    <!-- id에 인터페이스의 추상메서드와 같은 이름을 적어야 연동이됨-->
    <!-- resultType : 실행결과의 타입을 설정-->
    <select id="getTime" resultType="string">
        select now()
    </select>
    <insert id="insertMember">
        INSERT INTO tourist_member(id,email,name,password,phone,gender,agree,content)
        VALUES (#{id}, #{email}, #{name},#{password},#{phone},#{gender},#{agree},#{content});
    </insert>
    <select id="selectLogin" resultType="org.zerock.tourist_spring.member.vo.MemberVO">
        SELECT * FROM tourist_member
        WHERE id=#{id} and password=#{password}
    </select>
    <select id="selectLogin2" resultType="org.zerock.tourist_spring.member.vo.MemberVO">
        SELECT * FROM tourist_member
        WHERE id=#{id} and password=#{pw}
    </select>
</mapper>










